@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@keyframes flyIn-textUi {
    0% {
        opacity: 0;
        transform: translateY(100%) translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

@keyframes flyOut-textUi {
    0% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateY(100%) translateX(-50%);
    }
}

.container-textUi {
    color: #ffffff;
    font-family: 'Oswald';
    position: absolute;
    bottom: 5%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    row-gap: 0px !important;
    width: 1000px;
    height: 100px;
    transform: translateX(-50%);
    font-size: 18px;
}

.wrapper-textUi {
    display: flex;
    align-items: center;
    gap: 10px;
}

.keybind-textUi {
    border: 1px solid #a8a8a8a0;
    border-radius: 4px;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    background-color: #bbbbbb70;
    min-width: 35px;
}