@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.container-progressCircle {
    font-family: 'Oswald';
    color: #ffffff;
}

.wrapper-progressCircle  {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}

.title-progressCircle  {
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
}

.progress-bar-progressCircle  {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: repeating-conic-gradient(
        #a8a8a8e0 0deg 2deg,
        transparent 2deg 7deg
    );
    margin: 0 auto;
}

.progress-progressCircle  {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: conic-gradient(
        var(--progress-color) var(--percent, 0),
        transparent 0%
    );
    filter: drop-shadow(0 0 5px #84cc16);
    transition: --percent 500ms linear;
}

.progress-text-progressCircle  {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background: #365314;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #84cc16;
}